.product-list {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .product {
    border: 1px solid black;
    flex-basis: 45%;
  }
}
